{% extends 'layout.html' %}

{% block content %}
    <form method="POST">
        <input type="text" name="task" placeholder="Новая задача" required>
        <button type="submit">Добавить</button>
    </form>

    <ul>
        {% for task in tasks %}
            <li>
                {{ task[1] }}
                <a href="/delete/{{ task[0] }}">❌</a>
                <a href="/edit/{{ task[0] }}">✏️</a>
            </li>
        {% else %}
            <li>Задач пока нет.</li>
        {% endfor %}
    </ul>
{% endblock %}
